.modalOverlay {
  display: flex;
  position: fixed;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  z-index: 1000;
}

.AboutModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 50px;
  z-index: 1000;
  width: 720px;
  height: 680px;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  max-height: 80%;
  display: flex;
}

.header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 15px;
  padding: 10px;
  overflow: hidden;
}

.button {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.15);
}

.about {
  max-height: 100%;
  margin-left: 15px;
  overflow: auto;
}
